<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="always" name="referrer">
    <meta charset="UTF-8">
    <title>Title</title>
    <script  src="/js/jquery-3.4.1.min.js"></script>
    <script  src="/js/mobile-detect.js"></script>
    <script  src="/js/jssdk.min.js"></script>
</head>
<body>


<h1>Jenkins自动化项目部署</h1>
<h3>自动化项目部署测试项目，主要流程如下：本地开发，测试代码》通过Git提交代码到远程仓库》代码检测与测试》Jenkins拉去更新代码进行自动编译打包》Jenkins推送打包文件到服务器》服务器执行自动部署脚本发布服务》项目上线邮件通知项目相关负责人。</h3>
<div id="showlogin">

</div>

<iframe id="myiframe" width=120 height=120 frameborder=0  style="display:none;" scrolling="no"
        src="http://localhost:8080/page/phone/loginphone.html">
</iframe>



<script>
    // var angular = {"callbacks": {"_y": function(data){console.log(data);alert(data.respparam.phoneNumber);}}};

    $.ajax({
        url: "http://wap.toolbar.sd.chinamobile.com:8080/html/servicereq/queryMessageList?callback=angular.callbacks._y&csession=-1648015146&reqparam=%7B%22flag%22:%22-1%22,%22startNum%22:%221%22,%22number%22:%2210%22%7D&templateId=fullscreenbar",
        method: "get",
        dataType: "jsonp",
        jsonp: "angular.callbacks._y",
        success:function(data){
            // alert("手机信息："+data);
            console.log(data);

        }
    })
</script>


<!--<script type="text/javascript" src="/js/jssdk.min.js" >-->
<script type="text/javascript">

    var appid='300011973261';
    var version='1.0';
    var sign = YDRZ.getSign(appid,version);
    // alert(sign);
    //获取 token
    var token=YDRZ.getTokenInfo({
        data:{//请求的参数
            version:version, //接口版本号 (必填)
            appId:appid, //应用 Id (必填)
            sign:sign,//RSA 加密后的 sign(必填)
    openType:'1', //移动取号接口填写 1，三网取号接口填写 0 (必填，联调时必须填写为 1)
expandParams:'',//扩展参数 格式:参数名=值 多个时使用 | 分割(选填，测试环境只能模拟取号，联调时需填写模拟取号的手机号码，如phoneNum=18812345678，生产环境该扩展字段可不填)
isTest:'0'//是否启用测试线地址(传 0 时为启用，不为 0 或者不传时为不启用)
    },
    success:function(res) {//成功回调
        console.log(res.token);
        console.log(res.userInformation);
        //如果没有编码的话。可根据实际情况进行二次编码。
    },
    error:function(res){//错误回调
            console.log(res);
        }
    });

    // alert(token);

    // 测试联调地址：http://120.197.235.102/NumberAbility/h5/verifyVmMobileApi.htm
    // 现网联调地址：https://www.cmpassport.com/NumberAbility/h5/verifyVmMobileApi.htm
    var data={
        "header":{
            "version ":"1.0",
            "msgId ":"61237890345",
            "timestamp ":"20160628180001165",
            "appId ":appid
        },
        "body":{
            "expandParams":"",
            "phoneNum":"4526285940B6FA7FEF49E1DC800",
            "token":" VM_12c9519d861454f17c4f1439448c9295",
            "sign":"490355e164168287bc5eb1f4840914c0",
            "userInformation":" CB04EE944F41A8745444015DAF2771BFB7AD7"
        }
    };

    $.ajax({
        url:"https://www.cmpassport.com/NumberAbility/h5/verifyVmMobileApi.htm",
        type:'post',
        dataType: 'json',
        data:data,
        success:function(data){
            // alert(data);
            console.log(data);

        }

    });



    //
//     Success，error 回调参数的状态码:
// {
//     code:"000000"，message:"token 获取成功",token:"",userInformation:‘浏览器指纹’
//     code:"110027"，message:"能力不可用",
//     code:"110028"，message:"appId 不存在",
//     code:"130030"，message:"参数无效",
//     code:"130018"，message:"验证签名失败",
//     code:"130032"，message:"解析参数错误",
//     code:"999999"，message:"系统错误"
//     code:"0"，message:"请求异常",
//     code:"500"，message:"图片请求失败", 注:报该错误时请检查 referer 是否正确以及
//     参数是否按上面描述的进行传递
// }



</script>









<script>


//     1，设置或获取对象指定的文件名或路径。
//
// console.log(window.location.pathname)
//     1
//     2，设置或获取整个 URL 为字符串。
//
// console.log(window.location.href);
//     1
//     3，设置或获取与 URL 关联的端口号码。
//
// console.log(window.location.port)
//     1
//     4，设置或获取 URL 的协议部分。
//
// console.log(window.location.protocol)
//     1
//     5，设置或获取 href 属性中在井号“#”后面的分段。
//
// console.log(window.location.hash)
//     1
//     6，设置或获取 location 或 URL 的 hostname 和 port 号码。
//
// console.log(window.location.host)
//     1
//     7，设置或获取 href 属性中跟在问号后面的部分。
//
// console.log(window.location.search)
//     1
//     8，获取变量的值(截取等号后面的部分)
//
//     var url = window.location.search;
//     1
//     9，用来得到当前网页的域名
//
//     var domain = document.domain;


    var test = window.location.href;
    // alert(test);


</script>


<script charset="utf-8" src="https://www.cmpassport.com/NumberAbility/jssdk_vlm/jssdk.min.js" type="text/javascript">

    var huantu_m_bhid = "518030-78568_1144019";
    var huantu_m_thepage = encodeURIComponent(document.location.href);
    var huantu_m_ref = encodeURIComponent(document.referrer);
    var huantu_m_title = document.title;
    var huantu_m_title_two = encodeURIComponent(huantu_m_title.substr(0,14));
    alert(huantu_m_title_two);
    var huantu_m_url = "http://121.41.78.12:8081/bhgetdata.aspx?api=zoz&bhid=" + huantu_m_bhid + "&gd=&locationurl=" + huantu_m_thepage + "&lasturl=" + huantu_m_ref + "&title=" + huantu_m_title_two + "&_=5696";
    document.writeln("<p style='display:none;'><img src='" + huantu_m_url + "' /></p>");

</script>

<script>

    // importClass(android.telephony.TelephonyManager);
    // importClass(android.content);

    /*function getphone() {
        var mTelephonyManager = context.getSystemService(context.TELEPHONY_SERVICE);
        var phoneNumber = mTelephonyManager.getLine1Number();
        return phoneNumber;
    };

    alert(getphone())*/

</script>


<script>
    var src="https://open.10086.cn/mobile/#/expstack/oneKeyLogin/f1ddbf868dc843b4aa714c140e866f97";
    $.get(src,function(data){
        $("showlogin").html(data);
    });
</script>

</body>
</html>